In [80]:
SELECT *
FROM students
LIMIT 10;

  inter_dom  region  gender academic  ...  religion_bi  alone_bi  others_bi internet_bi
0     Inter     SEA    Male     Grad  ...           No        No         No          No
1     Inter     SEA    Male     Grad  ...           No        No         No          No
2     Inter     SEA    Male     Grad  ...           No        No         No          No
3     Inter      EA  Female     Grad  ...           No        No         No          No
4     Inter      EA  Female     Grad  ...          Yes        No         No          No
5     Inter     SEA    Male     Grad  ...           No       Yes         No          No
6     Inter      SA    Male     Grad  ...           No        No         No          No
7     Inter     SEA  Female     Grad  ...           No        No         No          No
8     Inter     SEA  Female     Grad  ...           No        No         No          No
9     Inter  Others    Male     Grad  ...           No        No         No          No

[10 rows x 50 columns]

In [81]:
SELECT inter_dom AS student_type, COUNT(inter_dom) AS count_student_type
FROM students
GROUP BY inter_dom

  student_type  count_student_type
0          Dom                  67
1                               18
2        Inter                 201

In [82]:
SELECT academic, stay, japanese_cate, english_cate, todep, tosc, toas
FROM public.students
WHERE inter_dom = 'Inter'
LIMIT 5;

  academic  stay japanese_cate english_cate  todep  tosc  toas
0     Grad     5       Average         High      0    34    91
1     Grad     1          High         High      2    48    39
2     Grad     6          High         High      2    41    51
3     Grad     1           Low      Average      3    37    75
4     Grad     1           Low      Average      3    37    82

In [83]:
SELECT academic, stay, japanese_cate, english_cate, todep, tosc, toas
FROM public.students
WHERE inter_dom = 'Dom'
LIMIT 5;

  academic  stay japanese_cate english_cate  todep  tosc  toas
0     Grad     2       Average      Average     12    47    81
1    Under     1          High      Average      9    48    37
2    Under     3          High      Average      7    40    72
3    Under     3          High          Low      3    47    43
4    Under     3          High          Low     10    48    36

In [84]:
SELECT stay
FROM students
WHERE inter_dom = 'Inter'
ORDER BY stay desc

     stay
0      10
1       8
2       7
3       6
4       6
..    ...
196     1
197     1
198     1
199     1
200     1

[201 rows x 1 columns]

In [85]:
SELECT stay
FROM students
WHERE inter_dom = 'Dom'
ORDER BY stay desc

    stay
0      5
1      5
2      4
3      4
4      4
..   ...
62     1
63     1
64     1
65     1
66     1

[67 rows x 1 columns]

In [86]:
SELECT inter_dom, 
		ROUND(MIN(todep),2) AS min_dep, 
		ROUND(MAX(todep),2) AS max_dep, 
		ROUND(AVG(todep),2) AS avg_todep,
		ROUND(MIN(tosc),2) AS min_sc, 
		ROUND(MAX(tosc),2) AS max_sc, 
		ROUND(AVG(tosc),2) AS avg_sc,
		ROUND(MIN(toas),2) AS min_as, 
		ROUND(MAX(toas),2) AS max_as, 
		ROUND(AVG(toas),2) AS avg_as
FROM students
WHERE inter_dom='Inter'
GROUP BY inter_dom

  inter_dom  min_dep  max_dep  avg_todep  ...  avg_sc  min_as  max_as  avg_as
0     Inter      0.0     25.0       8.04  ...   37.42    36.0   145.0   75.56

[1 rows x 10 columns]

In [87]:
SELECT inter_dom, 
		ROUND(MIN(todep),2) AS min_dep, 
		ROUND(MAX(todep),2) AS max_dep, 
		ROUND(AVG(todep),2) AS avg_todep,
		ROUND(MIN(tosc),2) AS min_sc, 
		ROUND(MAX(tosc),2) AS max_sc, 
		ROUND(AVG(tosc),2) AS avg_sc,
		ROUND(MIN(toas),2) AS min_as, 
		ROUND(MAX(toas),2) AS max_as, 
		ROUND(AVG(toas),2) AS avg_as
FROM students
WHERE inter_dom='Dom'
GROUP BY inter_dom

  inter_dom  min_dep  max_dep  avg_todep  ...  avg_sc  min_as  max_as  avg_as
0       Dom      0.0     23.0       8.61  ...   37.64    36.0   112.0   62.84

[1 rows x 10 columns]

In [88]:
SELECT inter_dom AS student_type, 
		ROUND(AVG(todep),2) AS avg_dep, 
		ROUND(AVG(tosc),2) AS avg_sc, 
		ROUND(AVG(toas),2) AS avg_as
FROM students
GROUP BY inter_dom

  student_type  avg_dep  avg_sc  avg_as
0          Dom     8.61   37.64   62.84
1                   NaN     NaN     NaN
2        Inter     8.04   37.42   75.56

In [89]:
SELECT stay, 
		ROUND(AVG(todep),2) AS avg_dep, 
		ROUND(AVG(tosc),2) AS avg_sc, 
		ROUND(AVG(toas),2) AS avg_as
FROM students
WHERE inter_dom='Dom'
GROUP By stay
ORDER BY stay DESC

   stay  avg_dep  avg_sc  avg_as
0     5    11.50   34.00   88.00
1     4     7.00   36.67   64.78
2     3     8.43   39.09   58.04
3     2     9.46   37.08   66.46
4     1     8.70   37.15   62.60

In [90]:
SELECT stay, 
		ROUND(AVG(todep),2) AS avg_dep, 
		ROUND(AVG(tosc),2) AS avg_sc, 
		ROUND(AVG(toas),2) AS avg_as
FROM students
WHERE inter_dom='Inter'
GROUP BY stay
ORDER BY stay desc

   stay  avg_dep  avg_sc  avg_as
0    10    13.00   32.00   50.00
1     8    10.00   44.00   65.00
2     7     4.00   48.00   45.00
3     6     6.00   38.00   58.67
4     5     0.00   34.00   91.00
5     4     8.57   33.93   87.71
6     3     9.09   37.13   78.00
7     2     8.28   37.08   77.67
8     1     7.48   38.11   72.80